@import "tailwindcss";

@theme {
  --color-bg-primary:#0e1820;
  --color-secondary: #a3004c;
  --color-text:#097969;
  --color-main:#a3004c;
  --color-light-pink: #fde7f3;
  --color-golden-yellow:#ecc11b;
  --color-honey:#EBBC4E;
  --color-dark-green: #05473E;
}
/* Base styles */
.swiper-button-prev::after,
.swiper-button-next::after {
  color: white !important;  /* default color */
  font-weight: 500;
}

/* Change to black on medium and smaller */
@media (max-width: 768px) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: black !important;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
  }
}

@media (max-width: 640px) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 1.4rem !important;
    font-weight: 700 !important;
  }
}



