@import "tailwindcss";

@theme {
  --color-bg-primary:#0e1820;
  --color-secondary: #a3004c;
  --color-text:#097969;
  --color-main:#a3004c;
  --color-light-pink: #fde7f3;
  --color-golden-yellow:#ecc11b;
  --color-honey:#EBBC4E;
  --color-dark-green: #05473E;
}
.swiper-button-prev,
.swiper-button-next {
  color: white !important;   
  font-weight: 500;         
  top: 50%;                    
  transform: translateY(-50%);  
}
@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    font-size: 1rem; /* smaller arrows on tablets & mobiles */
  }
}

@media (max-width: 480px) {
  .swiper-button-prev,
  .swiper-button-next {
    font-size: 0.8rem; /* extra small on very small screens */
  }
}


